.darkmode--activated {
    background: var(--content-bg-color);

    h2, h3 {
        border-bottom: none;
    }
    .header {
        border-right: 1px solid var(--body-bg-color);
        .header-inner {
            // background: var(--content-bg-color);
            .site-brand-container {
                // background: var(--content-bg-color);
                border-bottom: 1px solid var(--body-bg-color);
            }

            .site-meta .site-subtitle {
                color: var(--brand-color);
            }
        }
    }

    .sidebar {
        // background-color: var(--content-bg-color);
        .sidebar-inner {
            // background-color: var(--content-bg-color);
            border-bottom: 1px solid var(--body-bg-color);

            .sidebar-nav,.sidebar-panel {
                border-top: 1px solid var(--body-bg-color);
            }
        }
    }
    .post-body {
        blockquote {
            background-color: #444;
        }
        p > code {
            color: $snorlax-beam;
        }

        pre > code {
            color: var(--highlight-foreground) !important;
        }
    }
    .post-footer {
        .post-nav {
            border-top: 1px solid var(--body-bg-color);
        }    
    }
    .pagination {
        border-top: 1px solid var(--body-bg-color) !important;
        .page-number.current {
            color: var(--text-color);
        }    
    }
    .comments {
        border-top: none;    
    }
}

.darkmode-toggle {
    top: 15px;  
}