.darkmode--activated {

    h2, h3 {
        border-bottom: none;
    }
    .header {
        border-right: none;
        .header-inner {
            background: var(--content-bg-color);
            .site-brand-container {
                background: var(--content-bg-color);
                border-bottom: 1px solid var(--body-bg-color);
            }

            .site-meta .site-subtitle {
                color: var(--brand-color);
            }
        }
    }

    .sidebar {
        background-color: var(--content-bg-color);
        .sidebar-inner {
            background-color: var(--content-bg-color);
            border-bottom: 1px solid var(--body-bg-color);

            .sidebar-nav,.sidebar-panel {
                border-top: 1px solid var(--body-bg-color);
            }
        }
    }
    
    .post-body {
        blockquote {
            background-color: #444;
        }
        code {
            color: $snorlax-beam;
        }
    }
    .post-footer {
        .post-nav {
            border-top: none;
        }    
    }
    .pagination .page-number.current {
        color: var(--text-color);
    }
    .comments {
        border-top: none;    
    }
}

.darkmode-toggle {
    top: 15px;  
}