figure.highlight figcaption, pre .caption, pre figcaption {
    --highlight-foreground: $snorlax-beam;
    --highlight-gutter-background: #34393d;
    // --highlight-gutter-foreground: #9ca9b6;
    font-family: 'Noto Sans KR'
}