figure.highlight figcaption, pre .caption, pre figcaption {
    --highlight-foreground: $snorlax-toenail;
    --highlight-gutter-background: #34393d;
    // --highlight-gutter-foreground: #9ca9b6;
    font-family: 'Noto Sans KR'
    margin: -15px;
    margin-bottom: 10px;
}