.main {
  width: calc(100% - 10px);

  * {
    box-shadow: none !important;
  }
  
  .header {
    +tablet-mobile() {
      padding-right: 0;
    }  
  }

  .main-inner {
    +tablet-mobile() {
      padding: 10px 0;
    }
  }
}
