.pagination {
    background: none !important;

    .prev,
    .next,
    .page-number {
        border-top: 0;

        +mobile() {
          border-bottom: none;
        }
    }

    .page-number {
      &.current {
        background-color: $red;
      }
    }

}

.main-inner > .pagination:not(:first-child):not(.sub-menu) {
  border-top: 1px solid $grey;
  padding-top: 20px;
  box-shadow: none;
}