.posts-expand {
    .post-title {
        font-weight: 700;
    }

    .post-block {
      &:not(:first-child) {
        border-top: 1.5px dashed $grey;
      }
    }
}

+tablet() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

+mobile() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

.post-block {
  box-shadow: none !important;

  .post-meta {
      margin-bottom: 0;
  }
  .post-body {
      padding-top: 20px;
  }
}

.post-body {
    h1 {
      border-top: 1px solid $grey;
      padding: 10px 0px;
      background: $lightgrey;
      text-align: center;
    }
    h1, h2 {
      border-bottom: 1px solid $grey;
    }
    .image-caption {
        margin: -10px auto 15px;
    }

    img {
        max-height: 100%;

        &[src*="#wrap"] {
          width: 100%;
          max-height: 200px;
        }
    }

    code {
      color: $red;
      background-color: $lightgrey;
    }
}

.comments {
    box-shadow: none !important;
    border-top: 1px solid $grey;
}
