@import "fonts.styl";
@import "menu.styl";
@import "pagination.styl";
@import "prism-onedark.css";

.main {
    padding: 10px 0;
    background: var(--content-bg-color);
}

.headband {
    height: 0;
}

// code {
//     background: $snorlax-tongue
//     color: $snorlax-teeth;
// }

.reading-progress-bar {
    background-color: $snorlax-outer-skin;
}

a.heading-anchor {
    color: $snorlax-sole-of-foot;
}

.posts-expand {
    .post-title {
        font-weight: 700;
    }
    .post-block {
        box-shadow: none !important;
    }
}

.sub-menu {
    box-shadow: none !important;
}

#sub-menu-2 {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.12) !important;
}

i.fa, i.far, i.fas {
  font-family: FontAwesome, "Font Awesome 5 Free" !important;
}
i.fab {
  font-family: "Font Awesome 5 Brands" !important;
}

.menu-item .fa-none {
    display: none;
}

+tablet() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

+mobile() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

.post-body .image-caption {
    margin: -10px auto 15px;
}
.post-body img {
    max-height: 100%;
}
.post-body img[src*="#wrap"] {
    width: 100%;
    max-height: 200px;
}