@import "fonts.styl";
@import "menu.styl";
@import "post.styl";
@import "pagination.styl";
@import "codeblock.styl";


.footer {
    margin-top: 20px;
    padding: 40px 0px;
    border-top: 1px solid #efefed;
}

.headband {
    height: 0;
}

.reading-progress-bar {
    background-color: $snorlax-outer-skin;
}

a.heading-anchor {
    color: $snorlax-sole-of-foot;
}
